################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ServerInventory/bin/Debug
/ServerInventory/obj/Debug
